# tests
test/

# code specifications
.babelrc.js
.editorconfig
.eslintrc.js
.gitattributes
.gitignore
.travis.yml

# coverage files
coverage

# source
src

# readme
README.md

rollup.config.js
dist/react-lh.js
